<div class='course-card-header'>
  <div class='course-title'>

    <div class='course-name'>
    <%= image_tag('thumbs/'+course.department_id.to_s+'.png', class: 'tileimg') %>
	  <div class='course-card-stats'>
        <%= render partial: "catalog/course_stats", locals: {course: course, course_offering: course.current_course_offering} %>
      </div>
      <span class='big-name'><%=course.name%></span>
    </div>
    <div class='course-prereqs dept-<%=course.department_id%>'>
      <%= render partial: "catalog/course_prereqs", locals: {course: course, course_offering: course.current_course_offering} %>
    </div>
  </div>
</div>
<div class='course-description'>
  <%=render course.current_course_offering%>
</div>
