<div class='course-card-header'>
  <div class='course-title'>

    <div class='course-name'>
	  <img class='tileimg' src='/assets/thumbs/<%=course.department_id%>.png' alt='<%=course.department_id%>'>
	  <div class='course-card-stats'>
        <%= render partial: "course_stats", locals: {course: course} %>
      </div>
      <span class='big-name'><%=course.name%></span>
    </div>
    <div class='course-prereqs dept-<%=course.department_id%>'>
      <%= render partial: "course_prereqs", locals: {course: course} %>
    </div>
  </div>
</div>
<div class='course-description'>
  <%=render course.current_course_offering%>
</div>
