  <div id='filters'>
  <!--<div id='drawer-link'>
    <a href="#" id="trigger" class="menu-trigger">
      Programs & Requirements
    </a>
  </div>-->
  <!--span id='year'><%= @year.name %> Courses</span-->
  <nav id="basic-tab-bar" class="mdc-tab-bar courses-bar"><!-- *****   NEED TO ACCOUNT FOR id="age-filter"   ***** -->
    <span class='mdc-typography--headline courses-headers'>Grade Level</span>
    <a data-age='all' class="mdc-tab mdc-tab--active age-all">5<sup>th</sup>-12<sup>th</sup></a>
    <a class='mdc-tab age-ms' data-age='ms'>Middle School</a>
    <a class='mdc-tab age-us' data-age='us'>Upper School</a>
  </nav>
  <nav id="basic-tab-bar" class="mdc-tab-bar courses-bar"><!--  ******  NEED TO ACCOUNT FOR id="duration-filter   ***** -->
    <span class='mdc-typography--headline'>Duration</span>
    <a data-duration="all" class="mdc-tab mdc-tab--active duration-all">All Lengths</a>
    <a class='mdc-tab duration-T' data-duration='T'>Trimester</a>
    <a class='mdc-tab duration-Y' data-duration='Y'>Year</a>
    <a class='mdc-tab duration-S' data-duration='S'>Seminar</a>
  </nav>
  <br>
  <nav id="basic-tab-bar" class="mdc-tab-bar courses-bar"><!-- ******   NEED TO ACCOUNT FOR id="discipline-filter"   ****** -->
    <span class='mdc-typography--headline courses-headers'>Disciplines</span>
    <% subj = ["English","History/Social Sci.","Math","Science","Spanish","Arts","P.E."] %>
    <a data-dept='all' class="mdc-tab mdc-tab--active dept-all">All</a>
    <% 7.times do |i| %>
      <a class='mdc-tab dept-<%=i+1%>'  data-dept='<%=i+1%>'>
      <%= subj[i] %>
    </a>
    <% end %>
    <a class='mdc-tab dept-10' data-dept='10'>Tech</a>
    <a class='mdc-tab dept-8' data-dept='8'>Interdisciplinary</a>
    <a class='mdc-tab dept-11' data-dept='11'>Seminars</a>
    <span class="mdc-tab-bar__indicator"></span>
  </nav>
  <div id='course-filter-stats'>
    Showing <span id='course-count'>... Courses</span>
  </div>
</div>
<!-- Push Wrapper -->
<!-- render partial: "menu" This was the discipline description menu -->
<div class="mdc-layout-grid"><!--<div id='course-catalog'>-->
  <div class="mdc-layout-grid__inner">
	<% @courses.each do |course| %>
    <% begin %>
	  	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"><%= render course %></div>
    <% rescue %>
      ERROR WITH COURSE <%=course.id%> and OFFERING <%=course.try(:current_course_offering)%>
    <% end %>	
	<% end %>
	</div>
</div>

<script>
  function filterTiles(dept,ages,duration){
      console.log("Filters",dept,ages,duration);
      $('ul#og-grid li').fadeOut(200);
      //simulate the closing of the preview
      //
      if ($('.og-expanded').length > 0) {
          $('.og-expanded a').click();
          $('.og-expanded').removeClass('og-expanded');
      }
      //end simulation
      $('ul#og-grid li').filter(function(){
          return (dept == 'all' || $(this).hasClass("dept-"+dept)) &&
                  (ages == 'all' || $(this).hasClass('age-all') || $(this).hasClass('age-'+ages)) &&
                  (duration == 'all' || $(this).hasClass('duration-'+duration));
      }).delay(500).fadeIn();
      $('body').delay(500).animate( { scrollTop : 0 }, 350 );
      $('#course-count').fadeOut(500);
      setTimeout("$('#course-count').html($('.course-tile:visible').size() + ' Course' + ($('.course-tile:visible').size() != 1 ? 's' : '')).fadeIn(500);",1000);
      /*
      if (dept == 0) {
        $('ul#og-grid li').fadeIn();
      } else {
        $('ul#og-grid li').fadeOut();
        $('li.dept-' + dept).delay(300).fadeIn();
      }
        */
  };
    $(document).ready(function() {
        console.log("document ready");
        $('#course-count').html($('.course-tile:visible').size() + ' Courses');
        $('#filters ul.inline li').on('click',function(){
           var dept = $(this).data('dept');
           var age = $(this).data('age');
           var duration = $(this).data('duration');
           if (!!dept){
               console.log(dept);
              $('#discipline-filter li').removeClass("tabon");
              $('#discipline-filter li.dept-' + dept).addClass("tabon");
           }
           if (!!age){
               $('#age-filter li').removeClass("tabon");
               $('#age-filter li.age-' + age).addClass("tabon");
           }
           if (!!duration) {
               $("#duration-filter li").removeClass("tabon");
               $("#duration-filter li.duration-" + duration).addClass('tabon');
           }
            filterTiles($("ul#discipline-filter li.tabon").data('dept'),
                        $("ul#age-filter li.tabon").data('age'),
                        $("ul#duration-filter li.tabon").data('duration'));
        });
        Grid().init();
		//assets/classie.js		
		//assets/mlpushmenu.js
	    new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
		$('.course-stats td').tooltip();
    $('.tileimg').tooltip();
    });
</script>
