
<div id='filters'>
  <div id='branding'><%=image_tag("epslogo.gif")%></div>
<div id='drawer-link'><a href="#" id="trigger" class="menu-trigger">Course Requirements</a></div>
  <!--span id='year'><%= @year.name %> Courses</span-->
  <span class='filter-header'>Disciplines:</span>
  <ul class='inline' id='discipline-filter'>
    <% subj = ["English","History","Math","Science","Spanish","Arts","P.E.","Electives"] %>
    <li data-dept='all' class='dept-all tabon'>
        All
    </li>
    <% 8.times do |i| %>
      <li class='dept-<%=i+1%>'  data-dept='<%=i+1%>'>
		  <%= subj[i] %>
	  </li>
    <% end %>
  </ul>
  <br />
  <span class='filter-header'>Grade Level:</span>
  <ul class='inline' id='age-filter'>
    <li class='age-all tabon' data-age='all'>5<super>th</super>-12<super>th</super></li>
    <li class='age-ms' data-age='ms'>Middle School</li>
    <li class='age-us' data-age='us'>Upper School</li>
  </ul>
  <span class='filter-header'>Duration:</span>
  <ul class='inline' id='duration-filter'>
    <li class='duration-all tabon' data-duration='all'>All Lengths</li>
    <li class='duration-T' data-duration='T'>Trimester</li>
    <li class='duration-Y' data-duration='Y'>Year</li>
  </ul>
  <div id='course-filter-stats'>
    Showing <span id='course-count'>... Courses</span>
  </div>
</div>
<!-- Push Wrapper -->
	<div class="mp-pusher" id="mp-pusher">
		<%= render partial: "menu" %>
		<div class="scroller"><!-- this is for emulating position fixed of the nav -->
			<div class="scroller-inner">
				<div id='course-catalog'>
					<ul id="og-grid" class="og-grid">
						<% @courses.each do |course| %>
							<li class='dept-<%=course.department_id%> age-<%=course.age_level%> duration-<%= course.credits == 3 ? "Y" : "T" %>'>
								<%= render course %>
							</li>
						<% end %>
					</ul>
				</div>
			</div><!-- /scroller-inner -->
		</div><!-- /scroller -->
	</div><!-- /pusher -->

<script>
  function filterTiles(dept,ages,duration){
      console.log("Filters",dept,ages,duration);
      $('ul#og-grid li').fadeOut(200);
      //simulate the closing of the preview
      //
      if ($('.og-expanded').length > 0) {
          $('.og-expanded a').click();
          $('.og-expanded').removeClass('og-expanded');
      }
      //end simulation
      $('ul#og-grid li').filter(function(){
          return (dept == 'all' || $(this).hasClass("dept-"+dept)) &&
                  (ages == 'all' || $(this).hasClass('age-'+ages)) &&
                  (duration == 'all' || $(this).hasClass('duration-'+duration));
      }).delay(500).fadeIn();
      $('html').delay(500).animate( { scrollTop : 0 }, 350 );
      $('#course-count').fadeOut(500);
      setTimeout("$('#course-count').html($('.course-tile:visible').size() + ' Course' + ($('.course-tile:visible').size() != 1 ? 's' : '')).fadeIn(500);",1000);
      /*
      if (dept == 0) {
        $('ul#og-grid li').fadeIn();
      } else {
        $('ul#og-grid li').fadeOut();
        $('li.dept-' + dept).delay(300).fadeIn();
      }
        */
  };
    $(document).ready(function() {
        console.log("document ready");
        $('#course-count').html($('.course-tile:visible').size() + ' Courses');
        $('#filters ul.inline li').on('click',function(){
           var dept = $(this).data('dept');
           var age = $(this).data('age');
           var duration = $(this).data('duration');
           if (!!dept){
               console.log(dept);
              $('#discipline-filter li').removeClass("tabon");
              $('#discipline-filter li.dept-' + dept).addClass("tabon");
           }
           if (!!age){
               $('#age-filter li').removeClass("tabon");
               $('#age-filter li.age-' + age).addClass("tabon");
           }
           if (!!duration) {
               $("#duration-filter li").removeClass("tabon");
               $("#duration-filter li.duration-" + duration).addClass('tabon');
           }
            filterTiles($("ul#discipline-filter li.tabon").data('dept'),
                        $("ul#age-filter li.tabon").data('age'),
                        $("ul#duration-filter li.tabon").data('duration'));
        });
        Grid().init();
		new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
    });
</script>
