<div id='filters'>
  <h4>Disciplines:</h4>
  <ul class='inline'>
    <% subj = ["English","History","Math","Science","Spanish","Arts","P.E.","Electives"] %>
    <% 8.times do |i| %>
      <li onclick='$(".dept-<%=i+1%>").toggle();'>
	    <span class='dept-<%=i+1%>' style='background-color: red; display:none;'>
		  [+]
		</span>
		<span class='dept-<%=i+1%>'>
		  [-]
		</span>
		  <%= subj[i] %>
	  </li>
    <% end %>
  </ul>
</div>

<div id='course-catalog'>
  <ul id="og-grid" class="og-grid">
    <% @courses.each do |course| %>
      <li class='dept-<%=course.department_id%>'>
        <%= render course %>
      </li>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        console.log("document ready");
        Grid().init();
        console.log("Grid initialized");
    });
</script>
