  <div id='filters'>
  <!--<div id='drawer-link'>
    <a href="#" id="trigger" class="menu-trigger">
      Programs & Requirements
    </a>
  </div>-->
  <!--span id='year'><%= @year.name %> Courses</span-->
  <div class="mdc-layout-grid" style="margin:0px; padding:0px;">
    <div class="mdc-layout-grid__inner" style="grid-gap: 0px 24px;">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone nav-col-1">
        <nav id="age-filter" class="mdc-tab-bar courses-bar"><!-- *****   NEED TO ACCOUNT FOR id="age-filter"   ***** -->
          <span class='mdc-typography--headline courses-headers'>Grade Level</span>
          <a data-age='all' class="mdc-tab mdc-tab--active age-all">5<sup>th</sup>-12<sup>th</sup></a>
          <a class='mdc-tab age-ms' data-age='ms'>Middle School</a>
          <a class='mdc-tab age-us' data-age='us'>Upper School</a>
          <a class='mdc-tab dept-0' data-age='req' data-dept='0'>Requirements</a> <!-- *****  FOR REQ SORT  *****  -->
        </nav>
        <nav id="duration-filter" class="mdc-tab-bar courses-bar"><!--  ******  NEED TO ACCOUNT FOR id="duration-filter   ***** -->
          <span class='mdc-typography--headline'>Duration</span>
          <a data-duration="all" class="mdc-tab mdc-tab--active duration-all">All Lengths</a>
          <a class='mdc-tab duration-T' data-duration='T'>Trimester</a>
          <a class='mdc-tab duration-Y' data-duration='Y'>Year</a>
          <%#<a class='mdc-tab duration-S' data-duration='S'>Seminar</a>
          %>
        </nav>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
        <nav id="dept-filter" class="mdc-tab-bar courses-bar"><!-- ******   NEED TO ACCOUNT FOR id="discipline-filter"   ****** -->
          <span class='mdc-typography--headline courses-headers'>Disciplines</span>
          <% subj = ["English","Social Sci","Math","Science","Spanish","Arts","P.E."] %>
          <a data-dept='all' class="mdc-tab mdc-tab--active dept-all">All</a>
          <% 7.times do |i| %>
            <a class='mdc-tab dept-<%=i+1%>'  data-dept='<%=i+1%>'>
            <%= subj[i] %>
          </a>
          <% end %>
          <a class='mdc-tab dept-10' data-dept='10'>Tech</a>
          <a class='mdc-tab dept-8' data-dept='8'>Interdisciplinary</a>
          |
          <a class='mdc-tab dept-11' data-dept='11'>Seminars</a>
          <a class='mdc-tab dept-19' data-dept='19'>Independent Research</a>
          <span class="mdc-tab-bar__indicator"></span>
        </nav>
  <div id='course-filter-stats'>
    Showing <span id='course-count'>... Courses</span>
  </div>
      </div>
    </div>
  </div>
</div>
<!-- Push Wrapper -->
<!-- render partial: "menu" This was the discipline description menu -->
<div class="mdc-layout-grid"><!--<div id='course-catalog'>-->
  <div class="mdc-layout-grid__inner">
  <% current_dept_id = 0 %>
  <% @info_departments.each do |dept_id| %>
    <%=department_card_for(dept_id) %>
  <% end  %>
	<% @courses.each do |course| %>
      <% if course.department_id != current_dept_id %>
        <%=department_card_for(course.department_id)%>
        <% current_dept_id = course.department_id %>
      <% end %>
    <% begin %>
	  	<%= render course %>
    <% rescue %>
      ERROR WITH COURSE <%=course.id%> and OFFERING <%=course.try(:current_course_offering)%>
    <% end %>	
	<% end %>
	</div>
</div>

<script>
  
  function setActiveFilter(el, target){
    var filter = $(el).data(target);
    $('nav#' + target + '-filter a').removeClass('mdc-tab--active');
    $('nav#' + target + '-filter a[data-' + target + '="' + filter + '"]').addClass('mdc-tab--active');
  }

  function filterTiles(dept,ages,duration){
      //console.log("Filters",dept,ages,duration);
      filterCourseTiles(dept,ages,duration);
      updateCourseCount();
  };

  function filterCourseTiles(dept,ages,duration){
    $('div.course-container').hide(); //hide all to start
    console.log(dept,ages,duration);
    if (ages == "req") { //signal to only show department cards
      $('.course-container[data-card-type=department]').delay(10).fadeIn();
    }
    else { //otherwise filter as normal
      $('div.course-container').filter(function(){
          return (dept == 'all' || $(this).data("dept") == dept) &&
                  (ages == 'all' || $(this).data('age') == 'all' || $(this).data('age') == 'a' || $(this).data('age') == ages) &&
                  (duration == 'all' || $(this).data('age') == 'a' ||  $(this).data('duration') == duration);
        }).delay(10).fadeIn();
    }
    $('body').delay(10).animate( { scrollTop : 0 }, 350 );
  }

  function updateCourseCount() {
      $('#course-count').fadeOut(500);
      setTimeout("$('#course-count').html( courseCount('Course')).fadeIn(500);",500);
  }

  function courseCount(appendText) { //apend text allows us to change courses to classes etc.
    var count = $('.course-container:visible').size() - $('.course-container:visible[data-card-type=department]').size() // don't count department cards
    appendText = appendText + (count != 1 ? 's' : ''); //pluralize
    return count + " " + appendText;
  }

  function buildFilters(ary){
    $.each(ary,function(ind,filter){
      $('nav#'+filter+'-filter a').on('click',function(){setActiveFilter(this, filter);});
    });
  }
  $(document).ready(function() {
        //console.log("document ready");
        buildFilters(["age","duration","dept"]);
        updateCourseCount();
        $('nav a').on('click',function(){ // listen for click events on filters
           filterTiles($("nav#dept-filter a.mdc-tab--active").data('dept'),
                        $("nav#age-filter a.mdc-tab--active").data('age'),
                        $("nav#duration-filter a.mdc-tab--active").data('duration'));
        });
    });
</script>
