<span data-dept='<%=course.department_id%>' data-age='<%=course.current_course_offering.age_level%>' data-duration='<%= course.credits == 1 ? "T" : course.credits == 0.5 ? "S" : "Y" %>'>
<div style="text-decoration: none;"
   class='course dept-<%=course.department_id%>'
>

  <div id='course_<%=course.id%>' class="course-card"><!-- class='course-tile'-->
    <%= render partial: "course_tile", locals: {course:course} %>
  </div>

  <div class='course-info'>
    <%= render partial: "course_card", locals: {course: course} %>
  </div>
  
</div>
</span>

<script>
$(document).ready(function(){
addClassDialog(<%=course.id%>);
})

</script>