<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div id='logo'><%=image_tag("courses_at_eps.jpg")%>
</div>
</nav>
<div id='container'>
    <%= yield %>
</div>
</body>
</html>
